page-home {
    .my-file-upload {
        //background-color: rgb(24, 53, 219);
        position: relative;
        //cursor: pointer;
        width: 300px;
        height: 60px;
        line-height: 20px;
        padding: 5px 5px;
        border: 2px solid #203F53;
        border-radius: 10px;
    }

    .my-file-upload-icon {
        background-image: url("../../assets/icon/favicon.ico");
        height: 30px;
        width: 30px;
        background-size: cover;
        background-color: transparent;
        border: none;
        float: right;
    }

    input[type="file"]{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    } 
    

    ion-card.cards-list-demo ion-card-header {
        color: map-get($colors, primary);
      }

      .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }
      
    .upload-field {
        position: relative;
        cursor: pointer;
        width: 300px;
        height: 30px;
        line-height: 28px;
        padding: 5px 10px;
        border: 1px solid #203F53;
        border-radius: 5px;
    }
    
    .icon-folder {
        background-image: url("../../assets/icon/favicon.ico");
        height: 30px;
        width: 30px;
        background-size: cover;
        background-color: transparent;
        border: none;
        float: right;
    }
    
    .upload-file-button {
        height: 40px;
        width: 120px;
        text-align: center;
        margin: 20px 0;
        border: none;
        border-radius: 5px;
        box-shadow: 0 1px 3px #203F53;
        background-color: #203F53;
        color: white;
        font-size: 15px;
    }
}
